{% extends 'default.html' %}
{% load static %}
{% block title %}
    Chat rooms
{% endblock title %}
{% block content %}
    What chat room would you like to enter?<br>
    <label for="room-name-input">Choose a Room:</label>
    <input list="room-list" id="room-name-input" name="room-name-input"
           placeholder="Latin characters, numbers and understroke only starts with letter" size="100"><br>
    <datalist id="room-list"></datalist>

    <input id="room-name-submit" type="button" value="Enter">

    <script src="{%  static 'msngr/index.js' %}">

    </script>
{% endblock content %}