<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat rooms</title>
</head>
<body>
    What chat room would you like to enter?<br>
    <label for="room-name-input">Choose a Room:</label>
    <input list="room-list" id="room-name-input" name="room-name-input"
           placeholder="Latin characters, numbers and understroke only starts with letter" size="100"><br>
    <datalist id="room-list"></datalist>

    <input id="room-name-submit" type="button" value="Enter">

    <script>
        var roomList = [];

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        window.onload = async function (e) {
            let roomListDatalist = document.querySelector('#room-list');
            await fetch('/room/')
            .then(response => response.json())
            .then(json => {
                for (let name of json['results']) {
                    roomList.push(name['name']);
                    roomListDatalist.insertAdjacentHTML('beforeend',
                        `<option value="${name['name']}">users: ${name['get_online_count']}</option>`);
                }
                {#console.log('json: ', json)#}
            })
            if (typeof roomList == 'undefined') {
                roomList = [];
            }

        };
        {#document.querySelector('#room-name-input').focus();#}
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-input').onkeypress = function(e) {
            const char = String.fromCharCode(e.charCode);
            console.log(e);
            if (e.target.value == '') {
                if (!(/[a-zA-Z\.$]/.test(char))) {  // enter, return
                console.log('prevent first')
                e.preventDefault();
                }
            }
            if (!(/[a-zA-Z0-9_\.$]/.test(char))) {  // enter, return
                console.log('prevent')
                e.preventDefault();
            }
        };

        document.querySelector('#room-name-submit').onclick = async function(e) {
            let roomName = document.querySelector('#room-name-input').value;
            if (roomList.indexOf(roomName) < 0) {
                await fetch('/room/', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                      'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify({name: roomName})
                })
                    .then(response => response.json())
                    .then(json => console.log('json: ', json));
            }
            {#console.log(roomName)#}
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>