{% extends 'default.html' %}
{% load static %}
{% block title %}
    Chat Room
{% endblock title %}
<link rel="stylesheet" href="{% static '/css/styles.css' %}">
{% block content %}
    {{ room_name|json_script:"room-name" }}
    {{ username|json_script:'username' }}
    <div class="container mt-3 p-5">
        <h2>Room {{ room_name }}</h2>
        <textarea id="chat-log" cols="100" rows="20" readonly="true"></textarea><br>
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send"><br>
        <input id="chat-leave" type="button" value="Leave"><br>
        <input id="chat-delete" type="button" value="Delete Room" style="margin-top: 50px">
    </div>

    <script type="module" src="{% static 'msngr/room.js' %}">
    </script>
{% endblock content %}